name: API Integration Tests

on:
  push:
  pull_request:
  workflow_dispatch:
env:
  URL: ${{secrets.URL}}
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Run Containers
        run: docker compose up -d --build

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install test dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest sqlalchemy nanoid psycopg2-binary request

      - name: Run Pytests
        run: pytest e2e_tests.py
      